hello world

In [ ]:
print("hello world")

hello world

In [ ]:
print("hello")
print(9*"\n")
print("world")

hello










world

The code is printing my months of the year with line break

In [ ]:
print("Jan\nfeb\nmarch\napril\nmay\njune\njuly\naug\nsep\noct\nnov\ndec")

Jan
feb
march
april
may
june
july
aug
sep
oct
nov
dec

In [ ]:
print ("I want \\n to be printed.")
print("I'm very *happy*")

I want \n to be printed.
I'm very *happy*

In [ ]:
print("My name is \t Kaushik Ranjan")    #\t is equal to 4 spaces

My name is 	 Kaushik Ranjan

In [ ]:
print("""
Routine:
\t-Eat
\t-Study
\t-Sleep\n\t-Repeat
""")

Routine:
	-Eat
	-Study
	-Sleep
	-Repeat

In [ ]:
print("""

Routine:

\t- Eat
\t- Study
\t- Sleep\n\t- Repeat

.
.
.
""")  # with three """ it will print as it is

Routine:

	- Eat
	- Study
	- Sleep
	- Repeat

.
.
.

In [ ]:
print("""
hello
.
world""")

hello
.
world

In [ ]:
print ("Welcome to", end ='a '  )
print ("Python", end = '!')

Welcome toa Python!

In [ ]:
print(" python " ,end='@')
print(" class")

 python @ class

In [ ]:
print("_M"*9)

_M_M_M_M_M_M_M_M_M

In [ ]:
p=9
print("_M"*p)

_M_M_M_M_M_M_M_M_M

In [ ]:
p=1
print("name \n"*p)

name

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
None_=90

In [ ]:
None_

90

In [ ]:
this_is_a_long_variable = 6+3.0
#inline comment
this_is_a_long_variable

9.0

In [ ]:
type(this_is_a_long_variable)

float

In [ ]:
this_is_a_long_variable

9.0

In [ ]:
9+        99

108

In [ ]:
+4

4

In [ ]:
bn=89
#if -> elif
#while -> do while
#for

#nested loop

In [ ]:
for i in range(9):
 print (i)

0
1
2
3
4
5
6
7
8

In [ ]:
if bn < 100:

  bn = bn * 55
  print(bn)
  print("bn less than 100")

else:

  print('value is not true')

4895
bn less than 100

In [ ]:
for i in range(7,99,2):
  print(i)

7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97

In [ ]:
for i in range ( 1,11):
  print(i)
  if i == 6:
    print("my iterator is 6")
    #break
    continue

1
2
3
4
5
6
my iterator is 6
7
8
9
10

In [ ]:
if(bn>100):
  print("more than 100")
elif(bn==100):
  print("equal to 100")
else:
  print("condition not sattisfied" )

more than 100

type conversion

In [ ]:
a=2
b=3.5
c=a+b
print("datatype of a:",type(a))
print("datatype of b:",type(b))
print("value of c:",c)
print("datatype of c:",type(c))

datatype of a: <class 'int'>
datatype of b: <class 'float'>
value of c: 5.5
datatype of c: <class 'float'>

In [ ]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

explicit conversion

In [ ]:
a=10
print("a",a)
b=float(a)
print("b",b)

a 10
b 10.0

In [ ]:
gravity=9.81
print(int(gravity))

9

In [ ]:
a=10
b="456" # b is a string
print("datatype of a:",type(a))
print("datatype of b before type casting:",type(b))
b=int(b)
print("datatype of b after type casting:",type(b))
c=a+b
print("c",c)
print("datatype of c:",type(c))

datatype of a: <class 'int'>
datatype of b before type casting: <class 'str'>
datatype of b after type casting: <class 'int'>
c 466
datatype of c: <class 'int'>

In [ ]:
int(33.7)

33

In [ ]:
int(-33.4)

-33

In [ ]:
a=10
print(a)
a=str(a)
print(a)

10
10

string to list

In [ ]:
first_name = 'Milaan'
print(first_name)               # 'Milaan'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['M', 'i', 'l', 'a', 'a', 'n']

Milaan
['M', 'i', 'l', 'a', 'a', 'n']

In [ ]:
a='kaushik'
print(a)
b=list(a)
print(b)

kaushik
['k', 'a', 'u', 's', 'h', 'i', 'k']

List

In [ ]:
a=[5,10,15,20,25,30,35,40,45]
print("a[2]=",a[2])
print("a[0:3]=",a[0:3])
print("a[5:]=",a[5:])
print("a[-2]=",a[-2])
a[2]

a[2]= 15
a[0:3]= [5, 10, 15]
a[5:]= [30, 35, 40, 45]
a[-2]= 40

15

In [ ]:
x=(1 == True)
y=(1 == False)
a=True+6
b=False+90
print("x=",x)
print("y=",y)
print("a=",a)
print("b=",b)

x= True
y= False
a= 7
b= 90

In [ ]:
a=("banana","apple","strawberry","mausami") #tuple()
b=["banana","apple","strawberry","mausami"] #list[]
c={"banana","apple","strawberry","mausami"} #set{}
d={"1":"banana","2":"apple","3":"strawberry","4":"mausami"} # dictionary {"Key":"Value"}
print(a)
print(b)
print(c)
print(d)

('banana', 'apple', 'strawberry', 'mausami')
['banana', 'apple', 'strawberry', 'mausami']
{'mausami', 'strawberry', 'apple', 'banana'}
{'1': 'banana', '2': 'apple', '3': 'strawberry', '4': 'mausami'}

In [ ]:
for i in range(0,3):
  for j in range(len(dict( value))):
    print (b[i])

NameError: name 'value' is not defined

In [ ]:
for i in range(0,3):
  for j in range (len(dict(value))):
    print(b[i])

NameError: name 'value' is not defined

In [ ]:
t=(6,'program',1+3j)
t[0:4]

(6, 'program', (1+3j))

In [16]:
a=[98,78,1,22,24]
print("list of a=",a)

list of a= [98, 78, 1, 22, 24]

In [17]:
a=set(a)

In [18]:
a[1]

TypeError: 'set' object is not subscriptable

In [20]:
a = list(a)
a[1]

98

In [22]:
a = tuple(a)
a[4]

24

In [23]:
num_str=int("123")
num_str

123

In [ ]:
a,b,c= 90,"kaushik", "patna"
a

90

In [ ]:
c,b,a='chd','rahul',89
b

'rahul'

In [ ]:
x=y=z='karan'
z

'karan'